require 'rails_helper'

RSpec.feature 'User deletes <%= @indefinitized_name %>' do
<% if options['test_data'] == 'fixtures' -%>
  fixtures :<%= plural_name %>

<% end -%>
  scenario '<%= singular_name %> exists' do
    <%= @test_data.create %>

    visit '/<%= plural_name %>'

    click_link 'Destroy'

    expect(page).to have_text '<%= human_name %> was successfully destroyed.'
  end
end
