require 'rails_helper'

RSpec.feature 'User views <%= plural_name %>' do
<% if options['test_data'] == 'fixtures' -%>
  fixtures :<%= plural_name %>

<% end -%>
  scenario '<%= plural_name %> are present' do
    <%= singular_name %> = <%= @test_data.create %>

    visit '/<%= plural_name %>'

    <%- attributes.each do |attribute| -%>
    expect(page).to have_text(<%= singular_name %>.<%= attribute.name %>)
    <%- end -%>
  end
end
